{% extends "layout.html" %}
{% block content %}
{% from "_macros.html" import render_field %}
<div class="container">
    <div class="row">
        <div class="d-flex align-items-start justify-content-start py-3">
            <h2>Registro de maestros</h2>
        </div>
        <form action="/maestro/agregar" method="POST" novalidate>
            <div class="row">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
                <div class="col-md-6 pb-2">
                    {{render_field(form.nombre, class='form-control')}}
                </div>
                <div class="col-md-6 pb-2">
                    {{render_field(form.apellidos, class='form-control')}}
                </div>
                <div class="col-md-7 pb-2">
                    {{render_field(form.email, class='form-control')}}
                </div>
                <div class="col-md-5 pb-2">
                    {{render_field(form.fecha_nacimiento, class='form-control')}}
                </div>
                <div class="col-md-12 pb-2">
                    {{render_field(form.grado_academico, class='form-control')}}
                </div>
                <div class="col-md-12 pt-2">
                    <button type="submit" class="btn btn-success rounded-pill">Registrar&nbsp;<i class="bi bi-arrow-right-circle"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}