{% extends "layout.html"%}
{%block content%}
{%from "_macros.html" import render_field%}
<div class="container">
    <div class="row">
        <div class="d-flex align-items-start justify-content-start py-3">
            <h2>Gesti&oacute;n de maestros</h2>
        </div>
        <div class="d-flex align-items-end justify-content-end py-2">
            <a role="button" href="/maestro/agregar" class="btn btn-success rounded-pill">
                Agregar Maestro&nbsp;<i class="bi bi-plus-circle"></i>
            </a>
        </div>
        <div class="table-responsive">
            <table class="table striped text-center">
                <thead>
                    <tr>
                        <th>Nombre Maestro</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Fecha de nacimiento</th>
                        <th>Grado acad&eacute;mico</th>
                        <th>Eliminar</th>
                        <th>Modificar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for maestro in maestros %}
                    <tr>
                        <td class="align-middle">{{ maestro.nombre }}</td>
                        <td class="align-middle">{{ maestro.apellidos }}</td>
                        <td class="align-middle">{{ maestro.email }}</td>
                        <td class="align-middle">{{ maestro.fecha_nacimiento }}</td>
                        <td class="align-middle">{{ maestro.grado_academico }}</td>
                        <td class="align-middle"><a role="button" href="/maestro/eliminar?id={{ maestro.id }}"
                                class="btn btn-danger rounded-pill">
                                <i class="bi bi-trash-fill h6"></i>
                            </a>
                        </td>
                        <td class="align-middle"><a role="button" href="/maestro/modificar?id={{ maestro.id }}"
                                class="btn btn-secondary rounded-pill">
                                <i class="bi bi-pencil-fill h6"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock%}